
* {
  margin: 0;
  padding: 0;
}

.puzzle {
  margin: 15px;
  padding: 12px 0;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0 15px rgba(#000, .15);
  .tile-list {
    position: relative;
    margin: 0 12px;
    background-color: #f7f7f7;
    .tile-item {
      position: absolute;
      background-color: #eee;
      box-shadow: 0 0 3px rgba(#fff, 1);
      text-align: center;
      font-size: 24px;
      color: #999;
      transition: all 0.35s;
      &.tile-item-blank {
        background-color: #f7f7f7;
      }
      &.tile-item-active {
        color: #fff;
        background-color: deeppink;
        &:after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 10;
          background-color: rgba(deeppink, .5);
        }
      }
    }
  }

}

.step {
  background-color: #fff;
  border-radius: 10px;
  margin: 15px;
  padding: 15px;
  box-shadow: 0 0 15px rgba(#000, .15);
}

.start {
  display: block;
  background-color: #fff;
  border-radius: 10px;
  margin: 15px;
  padding: 15px;
  box-shadow: 0 0 15px rgba(#000, .15);
  text-align: center;
  text-decoration: none;
  color: inherit;
}
